body {
    font-family: Arial, Verdana, Sans-Serif;
	margin: 0 auto;
	width: 950px;
	background: #dadada;
}

h1{
    color: whitesmoke;
    text-align: center;
}

h3{
    color: red;
    text-align: center
}


#container{
    padding: 20px;
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    background: gray;
    border: 5px solid black;
    border-radius: 10px;
}

#list {
    display: inline-block;
}

#add{
    display: inline-block;
    background-color: red;
    color: white;
    border: solid white 2px;
    text-align: center;
}

#add:hover{
    cursor: pointer;
}

#list {
    padding-left: 30px;
}

#list li{
    padding: 10px;

}

.strike{
    text-decoration: line-through;
}